*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}
.mainConatiner {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none !important;
}





